.product-container{
    width: 20rem;
    height: 18rem;
    &__box-image{
        position: relative;
    }
    &__image{
        width: 100%;
        height: 15rem;
        object-fit:cover;
    }
    &__label{
        position: absolute;
        top: 25px;
        left: 0;
        background-color: $beige;
        color: $white;
        width: 7rem;
        padding: .5rem .2rem;
        text-align: center;
    }
    &__text{
        width: 100%;
        text-align: center;
        text-decoration: none;
    }
    &__name{
        color: $grey;
        font-weight: bold;
        font-size: 15px;
    }
    &__price{
        color: $grey;
        margin-top: 2px;
        font-size: 22px;
        font-weight: bold;
    }
    &__price-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
    &__price--old{
        color: $grey;
        margin-top: 2px;
        font-size: 20px;
        text-decoration: line-through;
    }
}
hr{
    height: 18px;
}