*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

.page-Container{
    margin-inline: 200px;
    position: relative;
    &__whatsapp{
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
    &__whatsapp-logo{
        width: 7rem;
        transition: ease .8s;
        &:hover{
            transform: scale(1.1);
        }
    }
}